 <section>
 	       <%= render 'shared/success' %>	
    	   <p align="center"><strong><%=@article.title%></strong><p>
		   <p align="left"><small>标签:<%=@article.tag%> &nbsp; &nbsp; &nbsp; </small></p>	    
		   
		   <%=raw @article.content%>
			</br>	
 </section>				
